/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/5/

public/6/

public/7/

public/8/

public/9/

public/url.txt

public/10/

public/12/

public/13/

public/14/

public/17/

public/18/

public/19/

public/20/

public/21/

public/22/

public/23/

public/python/__pycache__/

public/2/

public/3/

public/4/
